<p>playlist-list works!</p>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<table *ngIf="token!=null" class="">
      <thead>
          <tr>
              <th>Name</th>
              <th>Author</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let playlist of playlists">
            <td> 
              {{ playlist.name }}
             </td>
             <td>
                {{ playlist.author }}
             </td>
          </tr>
      </tbody>
</table>

<div *ngIf="token==null">
    <p>no podes ver esto.</p>
    <button *ngIf="token==null" routerLink=''>volver</button>
</div>



<button *ngIf="token!=null" (click)="logout()">logout</button>