@{
    ViewBag.Title = "Cambiar Clave";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>Cambiar Clave</title>

</head>

<body>

    <form [formGroup]="loginForm">
        <h2>Cambiar Clave</h2>
        <div class="form-group">
            <label for="usuario">Email</label>
            <input type="text" name="usuario" class="form-control" id="usuario" />
        </div>

        <div class="form-group">
            <label for="password">Password Vieja</label>
            <input type="password" name="password" class="form-control" id="password" />
        </div>

        <div class="form-group">
            <label for="password2">Password Nueva</label>
            <input type="password" name="password2" class="form-control" id="password2" />
        </div>

        <div class="form-group">
            <label for="password3">Repetir Password Nueva</label>
            <input type="password" name="password3" class="form-control" id="password3" />
        </div>

        <div class="col col-12 col-sm-12 col-md-12" style="margin-top: 30px">
            &nbsp;
            <h6><span class="text-danger" id="errorFiltro"></span></h6>
        </div>

        <div class="form-group">
            <input type="button" class="btn btn-primary" name="btnVerifivaca" id="btnVerifica" onclick="validar()" value="Cambiar" />
        </div>

        <div class="mt-2" style="text-align:center; color:#00A8E0">
            @Html.ActionLink("Volver", "Index", "Login", null, null)
        </div>

    </form>
</body>
</html>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                localStorage.setItem("accessToken", "");
                localStorage.setItem("userName", "");
            });

            $(function () {
                $('#divOpciones').hide()
            });
        })


        function validar() {
            $('#errorFiltro').empty();
            var usuario = document.getElementById("usuario").value;
            var password = document.getElementById("password").value;
            var password2 = document.getElementById("password2").value;
            var password3 = document.getElementById("password3").value;

            $.ajax({
                type: "POST",
                url: "@Url.Action("Login", "Login")",
                data: {
                    usuario: usuario,
                    password: password
                },
                datatype: 'json',
                success: function (data) {
                    if (data == "") {
                        $('#errorFiltro').text("Usuario o contraseña incorrecta.");
                    } else {
                        if (password2 == password3) {
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("CambiarClave", "CambiarClave")",
                                data: {
                                    usuario: usuario,
                                    password: password2,
                                    accessToken: data
                                },
                                datatype: 'json',
                                success: function (data) {
                                    window.alert("Clave cambiada exitosamente!");
                                    window.location.href = "https://localhost:44345/Login";
                                }
                            });
                        } else {
                            $('#errorFiltro').text("Las contraseñas no coinciden.");
                        }
                    }
                }
            });


        }

    </script>

}







